{% extends 'base_no_nav.html' %} {% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
{% endblock %} {% block app_content %}
<form action="{{ url_for('auth.login') }}" method="POST" id="loginForm" class="form-signin" autocomplete="off">
    <img class="mb-4" src="{{ url_for('static', filename='images/logo.png') }}" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Username:</label>
    <input type="text" class="form-control" name="username" id="username" />

    <label for="password" class="sr-only">Password:</label>
    <input type="password" class="form-control" name="password" id="password" />

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember_me" id="remember_me" />
            Remember me
        </label>
    </div>
    <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
</form>
<br />

{% endblock %}
