{% extends 'base.html' %} {% block app_content %}
<h1>Create user</h1>
<form
    action="{{ url_for('administration.create_user') }}"
    method="POST"
    id="createUserForm"
    class="form-signin"
    autocomplete="off"
>
    <h1 class="h3 mb-3 font-weight-normal">Add user data</h1>
    <label for="username" class="sr-only">Username:</label>
    <input type="text" class="form-control" name="username" id="username" />

    <label for="password" class="sr-only">Password:</label>
    <input type="password" class="form-control" name="password" id="password" />

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember_me" id="remember_me" />
            Remember me
        </label>
    </div>
    <input type="submit" id="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
</form>
{% endblock %}
