{% extends 'base.html' %} {% block app_content %}
<h1>{{ assignment.title }}</h1>
<div id="markdownDesc"></div>
<br />
<div class="row">
    <div class="col-md-12">
        {% if current_user.role.name in ['teacher', 'admin'] %}
        <a href="{{url_for('assignments.edit_assignment', id=assignment.id)}}" class="btn btn-primary">Edit</a>
        {% endif%}
    </div>
</div>
<div id="editorHolder"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/9.1.0/markdown-it.min.js"></script>
<script>
    function loadMarkdownDescription(){
        $.ajax({
            url: '{{ url_for('assignments.description', assignment_id=assignment.id) }}',
            success: function (response) {
                var converter = window.markdownit();
                var html = converter.render(response.description);
                html  = html + '<h4>Test data</h4><table><tr><td><b>Inputs</b></td>';
                var testData = extractTestData(response.test_data);
                for(var input of testData.inputs){
                    html = html + '<td>'+ input + '</td>';
                }

                html = html + '</tr><tr><td><b>Outputs</b></td>';

                for(var output of testData.outputs){
                    html = html + '<td>'+ output + '</td>';
                }
                html = html + '</tr></table>';
                $("#markdownDesc").html(html);
            },
            error: function () {
            }
        });

    }

    function loadEditor(tab) {
        var editorHolder = $("#editorHolder");

        $.ajax({
            data: { tab: tab },
            url: '{{ url_for('assignments.editor', assignment_id=assignment.id) }}',
            success: function (response) {
                editorHolder.empty();
                editorHolder.html(response);
                init(tab);
            },
            error: function () {

            }
        });
    }

    function extractTestData(testData){
        var rows = testData.split('\n');
        var inputs = [];
        var outputs = [];

        var n = rows.length >= 3 ? 3: rows.length

        for(var i = 0; i < n; i++){
            var row = rows[i];
            row.trim();
            var inputRx = /\[(.*?)\]/;
            var input = row.match(inputRx);
            var output = '';

            if (input){
                outputCandidate = row.replace(input[0] + ',', '');
                output = outputCandidate.match(inputRx);
                if(output){
                    output = output[0];
                }else{
                    output = outputCandidate
                }

                input = input[0];
            }else{
                var rowArray = row.split(',');
                input = rowArray[0];
                output = rowArray[1];
            }

            inputs.push(input);
            outputs.push(output);

        }
        return {inputs: inputs,  outputs: outputs};
    }

    window.onload = function () {
        loadEditor('solution');
        loadMarkdownDescription();
    };
</script>
{% endblock %}
