{% extends 'base.html' %}
{% block app_content %}
<h1>{{ assignment.title }}</h1>
<p>{{ assignment.description }}</p>
<div id="markdownDesc"></div>
<div class="row">
    <div class="col-md-12">
        {% if current_user.role.name in ['teacher', 'admin'] %}
        <a href="{{url_for('assignments.edit_assignment', id=assignment.id)}}" class="btn btn-primary">Edit</a>
        {% endif%}
    </div>
</div>
<div id="editorHolder">

</div>
<script src='https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js'></script>
<script>
    function loadMarkdownDescription(){
        var converter = new showdown.Converter();
        var text = '# hello, markdown!';
        var html = converter.makeHtml(text);
        $("#markdownDesc").html(html);
    }
    function loadEditor(tab) {
        var editorHolder = $("#editorHolder");

        $.ajax({
            data: { tab: tab },
            url: '{{ url_for('assignments.editor', assignment_id=assignment.id) }}',
            success: function (response) {
                editorHolder.empty();
                editorHolder.html(response);
                init(tab);
            },
            error: function () {

            }
        });
    }

    window.onload = function () {
        loadEditor('solution');
        loadMarkdownDescription();
    };
</script> {% endblock %}