{% extends 'base.html' %} {% block app_content %}
<h1>{{title}}</h1>
{% if current_user.role.name in ['teacher', 'admin'] %}
<div class="row">
    <div class="col-md-12">
        <a href="{{url_for('courses.add_course')}}" class="btn btn-default">Add new</a>
    </div>
</div>
{% endif %}

<div class="table-responsive"> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                    {% for course in courses %}
                    <tr>
                        <td> <a href="{{url_for('courses.course', id=course.id)}}">{{ course.title }}</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}