{% extends 'base.html' %} {% block app_content %}
<h1>Users enrolled in <b>{{course.title}}</b></h1>
<div class="table-responsive"> 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
                {% for user in users %}
                <tr>
                    <td> {{ user.username }}</td>
                    <td> {{ user.email }}</td>
                    <td> {{ user.role.name }}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
 {% endblock %}