<script src="{{ url_for('static', filename='require.js') }}"></script>
<div class="row">
    <div class="col-md-offset-10 col-md-2 text-right">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="auto_save_code" {% if current_user.auto_save_code %} checked="true" {% endif%} id="auto_save_code"> Auto-save
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div id="tabArea">
            <span id="solution" class="tab">Solution</span>
            {% if current_user.role.name in ['teacher', 'admin'] %}<span id="test" class="tab">Test</span>{% endif %}
            <div title="Upload" class="action upload" id="uploadFileBtn">
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload file
            </div>
            <div id="save" title="Save" class="action save">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </div>
            <div id="run" title="Run" class="action run">
                <span class="glyphicon glyphicon-play"></span> Run
            </div>
        </div>
        <div id="editor"></div>
    </div>
    <div id="result" class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-default">Turn in</button>
    </div>
</div>

<div class="modal" id="uploadFileModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload file</h4>
            </div>
            <div class="modal-body">
                <form id="fileForm" method="post">
                    <input id="fileInput" name="file" type="file">
                    <button id="uploadButton"> Upload</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<style>
    #editor {
        border: 1px solid #999;
        border-top: 0;
        margin-bottom: 10px;
        height: 400px;
    }

    #result {
        font-family: "Courier new";
        margin-top: 30px;
        border: 1px solid #999;
        height: 400px;
        white-space: pre-wrap;
    }

    #tabArea {
        font-size: 15px;
        height: 30px;
        box-sizing: border-box;
        border-bottom: 1px solid #999
    }

    .tab {
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        color: #999;
        padding: 0 8px;
        border: 1px solid #999;
        border-bottom: 0;
        cursor: pointer;
        float: left;
    }

    .action {
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        color: #000;
        padding: 0 5px;
        border: 1px solid #999;
        border-bottom: 0;
        cursor: pointer;
        float: right;
        padding-left: 16px;
    }

    .action.run:hover>span {
        color: #3ea762;
    }

    .action.save:hover>span {
        color: #3e86a7;
    }

    .action.upload:hover>span {
        color: #a73e9b;
    }

    .action:hover>span {
        transition: 0.3s;
    }

    .tab.active {
        color: #000;
        border-bottom: 1px solid #fff
    }
</style>
<script>
    var DID_CHANGE_EVENT;
    function changeTab(selectedTab) {
        saveCode(window.editor.getValue());
        var tabs = $(".tab");
        tabs.removeClass('active');
        selectedTab.addClass('active');
        loadEditor(selectedTab.attr('id'));
    }

    function initFileUpload() {
        var form = document.getElementById('fileForm');
        var fileInput = document.getElementById('fileInput');
        var uploadButton = document.getElementById('uploadButton');

        form.onsubmit = function (event) {
            event.preventDefault();

            var files = fileInput.files
            var formData = new FormData();

            for (let file of files) {
                formData.append('file', file);
            }

            formData.append('assignment_id', '{{ assignment.id }}');
            formData.append('tab', $('.active').attr('id'));
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{ url_for('assignments.save_file') }}', true);

            xhr.onload = function () {
                if (xhr.status === 200) {
                    loadEditor($(".active").attr('id'));
                } else {
                    alert('An error occurred!');
                }
            };

            xhr.send(formData);
        }
    }

    function initEditor(code = '') {
        require.config({ waitSeconds: 200,
            paths: { 'vs': 'https://unpkg.com/monaco-editor@0.8.3/min/vs' } });
        window.MonacoEnvironment = { getWorkerUrl: () => proxy };

        let proxy = URL.createObjectURL(new Blob([`
            self.MonacoEnvironment = {
		        baseUrl: 'https://unpkg.com/monaco-editor@0.8.3/min/'
	        };
	        importScripts('https://unpkg.com/monaco-editor@0.8.3/min/vs/base/worker/workerMain.js');`
        ], { type: 'text/javascript' }));

        require(["vs/editor/editor.main"], function () {
            window.editor = monaco.editor.create(document.getElementById('editor'), {
                automaticLayout: true,
                autoIndent: true,
                formatOnPaste: true,
                formatOnType: true,
                language: 'python',
                theme: 'vs-light',
                value: code
            });
            {% if current_user.auto_save_code %}
            DID_CHANGE_EVENT = window.editor.model.onDidChangeContent((event) => {
                saveCode(window.editor.getValue());
            });
            {% endif %}
        });
    }

    function saveCode(code) {
        var tab = $(".active").attr("id");
        $.ajax({
            type: 'post',
            data: { code: code, tab: tab },
            url: '{{url_for('assignments.save_code', assignment_id=assignment.id)}}',
            success: function (response) {
                console.log(response);
            },
            error: function () {
            }
        })
    }

    function runCode(code) {
        $.ajax({
            type: 'post',
            url: '{{url_for('assignments.run_code', assignment_id=assignment.id)}}',
            success: function (response) {
                $("#result").empty().text(response);
            },
            error: function () {

            }
        });
    }

    function init(activeTabId) {
        var code = `{% if code %}{{ code|safe }}{% endif %}`;
        initEditor(code);
        initFileUpload();

        var tab = $(".tab");
        var activeTab = $("#" + activeTabId);
        activeTab.addClass('active');

        tab.on('click', function () { changeTab($(this)) });

        $('#save').on('click', function () {
            saveCode(window.editor.getValue());
        });

        $('#run').on('click', function () {
            runCode(window.editor.getValue());
        });
    };

    function setAutoSaveCode(auto_save_code) {
        if (auto_save_code) {
            DID_CHANGE_EVENT = window.editor.model.onDidChangeContent((event) => {
                saveCode(window.editor.getValue());
            });
        } else {
            DID_CHANGE_EVENT.dispose();
        }
        $.ajax({
            type: 'put',
            data: { auto_save_code: auto_save_code },
            url: '{{url_for('main.set_auto_save')}}',
            success: function (response) {
            },
            error: function () {

            }
        });
    }

    function cleanLocalStorage() {
        localStorage.removeItem("solution");
        localStorage.removeItem("test");
    }

    $(document).ready(function () {
        cleanLocalStorage();

        $("#uploadFileBtn").click(function () {
            $("#uploadFileModal").modal();
        });

        $("#fileForm").on("submit", function () {
            $(".modal").modal("hide");
        });

        $('#auto_save_code').click(function () {
            setAutoSaveCode(this.checked);
        });


    });
</script>